
@import './_partials.scss';

// https://codepen.io/chintuyadav/pen/WXypLR
canvas {
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;
	background: url('/image/bg.png');
	background-size: cover;
}

main {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1999;
}
