@import '_partials.scss';

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html, body, main {
	margin: 0;
	padding: 0;
}

body, main {
	background: $white;
	width: 1920px;
	height: 1080px;
}
