<main id="app" class="work-orders"></main>

@section css {
	<link href="~/css/site.css" rel="stylesheet" />
}

@section scripts {

	@if (HttpContext.Current.IsDebuggingEnabled)
	{
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.1/umd/react.development.js" integrity="sha256-FSPcW05lQo41DPHUL9ewcdUx4ELhMYznqnV8WgQ1c0E=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.1/umd/react-dom.development.js" integrity="sha256-dQfgFSxn0gVEyRTLG0n6u7W0JV0AjRLcfJYZ+I/F2qc=" crossorigin="anonymous"></script>
	}
	else
	{
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.1/umd/react.production.min.js" integrity="sha256-aOOjVC95SZguoWsCaRskLhkbVFsaYKoYJom4VdHlOEo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.1/umd/react-dom.production.min.js" integrity="sha256-d0hfGFA209oNZEnEJ8ZJKLl9+ZMFeIrIAiFzaSSRY5U=" crossorigin="anonymous"></script>
	}

	<script src="~/js/index.js"></script>
}
